In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

from pathlib import Path

from env import host, user, password

import wrangle as w

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats
from scipy.stats import pearsonr
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score 
from math import sqrt

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# Modeling
from sklearn.cluster import KMeans
from sklearn.preprocessing import PolynomialFeatures

In [2]:
df=w.wrangle_zillow()

In [3]:
train, validate, test = w.split_data(df)

In [4]:
train, validate, test

(       parcelid  logerror  bathrooms  bedrooms  sq_feet    fips    latitude  \
 40409  14357041 -0.001358        3.5       3.0   2820.0  6059.0  33701815.0
 23172  11185767  0.044035        4.0       4.0   2764.0  6037.0  34610159.0
 49707  11471750  0.026075        3.0       4.0   2044.0  6037.0  33924794.0
 36587  14234304 -0.051115        3.0       4.0   1622.0  6059.0  33795264.0
 6405   12992951  0.110311        2.0       3.0   1050.0  6037.0  34048144.0
 ...         ...       ...        ...       ...      ...     ...         ...
 19982  17160255  0.007457        1.0       3.0   1000.0  6111.0  34205691.0
 1766   11663538  0.039340        3.0       4.0   2570.0  6037.0  34043592.0
 5102   12185674  1.191672        2.0       3.0   1292.0  6037.0  33988365.0
 34399  10731267  0.005839        2.0       3.0   2291.0  6037.0  34181498.0
 26237  14183578 -0.007056        2.0       4.0   1448.0  6059.0  33883759.0

          longitude  lotsizesquarefeet  regionidcity  ...   taxrate     acres  \
 40409 -117717952.0             5492.0       52650.0  ...  1.435365  0.126079
 23172 -118192962.0             6624.0       40227.0  ...  1.756942  0.152066
 49707 -118423837.0             4967.0       55753.0  ...  1.118434  0.114027
 36587 -117827395.0             7399.0       33252.0  ...  1.110092  0.169858
 6405  -117985938.0             5871.0      118895.0  ...  1.282477  0.134780
 ...            ...                ...           ...  ...       ...       ...
 19982 -119189493.0             6227.0       13150.0  ...  1.171756  0.142952
 1766  -118526193.0             9006.0       12447.0  ...  1.205483  0.206749
 5102  -118249664.0             3810.0      396053.0  ...  1.402260  0.087466
 34399 -118619048.0            35778.0       12447.0  ...  1.462234  0.821350
 26237 -117827874.0             8220.0       21412.0  ...  1.352877  0.188705

        acres_bin  sqft_bin  structure_dollar_per_sqft  \
 40409        0.1       0.6                 167.602837
 23172        0.2       0.6                  37.442475
 49707        0.1       0.5                 169.431996
 36587        0.2       0.4                  64.356350
 6405         0.1       0.2                  89.523810
 ...          ...       ...                        ...
 19982        0.1       0.1                  99.748000
 1766         0.2       0.6                  86.240467
 5102         0.0       0.3                  72.534830
 34399        0.4       0.5                  23.042340
 26237        0.2       0.3                  41.479282

        structure_dollar_sqft_bin  land_dollar_per_sqft  lot_dollar_sqft_bin  \
 40409                        0.5            119.641843                  0.5
 23172                        0.1              9.500302                  0.2
 49707                        0.5            158.594725                  0.5
 36587                        0.2             46.887282                  0.3
 6405                         0.3             48.203032                  0.3
 ...                          ...                   ...                  ...
 19982                        0.3             44.546652                  0.3
 1766                         0.3             84.465356                  0.4
 5102                         0.2             44.900000                  0.3
 34399                        0.0              1.400106                  0.1
 26237                        0.1              8.648905                  0.2

        bath_bed_ratio  cola
 40409        1.166667     0
 23172        1.000000     0
 49707        0.750000     0
 36587        0.750000     0
 6405         0.666667     0
 ...               ...   ...
 19982        0.333333     0
 1766         0.750000     1
 5102         0.666667     0
 34399        0.666667     1
 26237        0.500000     0

 [28378 rows x 29 columns],
        parcelid  logerror  bathrooms  bedrooms  sq_feet    fips    latitude  \
 31502  13036970  0.011672        2.0       4.0   1125.0  6037.0  34126148.0
 30324  10785882  0.026080        2.0       3.0   1377.0  6037.0  34185892.0
 5349   12431422  0.008721        1.0       3.0   1215.0  6037.0  33835356.0
 14766  11208099 -0.010548        1.0       3.0   1156.0  6037.0  34583347.0
 37693  11602933 -0.104575        2.0       3.0   2163.0  6037.0  34043256.0
 ...         ...       ...        ...       ...      ...     ...         ...
 18312  14261743 -0.175070        2.0       4.0   1361.0  6059.0  33720425.0
 11011  14348434 -0.002562        3.0       4.0   2633.0  6059.0  33723874.0
 28978  14165100  0.063066        2.0       4.0   1706.0  6059.0  33895040.0
 31520  17078917  0.044403        1.0       2.0   1321.0  6111.0  34275636.0
 3202   12451632 -0.008361        1.0       2.0    911.0  6037.0  33862484.0

          longitude  lotsizesquarefeet  regionidcity  ...   taxrate     acres  \
 31502 -117856914.0             6776.0       11626.0  ...  1.307240  0.155556
 30324 -118554052.0             6838.0       12447.0  ...  1.232719  0.156979
 5349  -118099347.0             5026.0       12292.0  ...  1.307506  0.115381
 14766 -118069180.0             7197.0       40227.0  ...  2.736125  0.165220
 37693 -118404906.0             8557.0       12447.0  ...  1.358167  0.196442
 ...            ...                ...           ...  ...       ...       ...
 18312 -117902104.0             8239.0       47568.0  ...  1.194970  0.189141
 11011 -117757348.0             5293.0       52650.0  ...  1.150753  0.121511
 28978 -117806979.0             6885.0       21412.0  ...  1.592896  0.158058
 31520 -119264241.0             6000.0       34543.0  ...  1.059441  0.137741
 3202  -118171283.0             4570.0       46298.0  ...  1.213148  0.104913

        acres_bin  sqft_bin  structure_dollar_per_sqft  \
 31502        0.2       0.2                  86.208000
 30324        0.2       0.3                  98.720407
 5349         0.1       0.2                 165.405761
 14766        0.2       0.2                  37.702422
 37693        0.2       0.5                  16.572353
 ...          ...       ...                        ...
 18312        0.2       0.3                  56.872153
 11011        0.1       0.6                 151.497531
 28978        0.2       0.4                  28.873974
 31520        0.1       0.3                  88.314913
 3202         0.1       0.1                  98.299671

        structure_dollar_sqft_bin  land_dollar_per_sqft  lot_dollar_sqft_bin  \
 31502                        0.3              8.438459                  0.2
 30324                        0.3             25.724773                  0.3
 5349                         0.5             15.026661                  0.2
 14766                        0.1              2.023204                  0.1
 37693                        0.0             10.259320                  0.2
 ...                          ...                   ...                  ...
 18312                        0.2             43.888457                  0.3
 11011                        0.5            155.232005                  0.5
 28978                        0.1              2.855773                  0.1
 31520                        0.3             20.231000                  0.3
 3202                         0.3             41.949453                  0.3

        bath_bed_ratio  cola
 31502        0.500000     0
 30324        0.666667     1
 5349         0.333333     0
 14766        0.333333     0
 37693        0.666667     1
 ...               ...   ...
 18312        0.500000     0
 11011        0.750000     0
 28978        0.500000     0
 31520        0.500000     0
 3202         0.500000     0

 [12163 rows x 29 columns],
        parcelid  logerror  bathrooms  bedrooms  sq_feet    fips    latitude  \
 40229  17216005 -0.030479        3.0       4.0   2246.0  6111.0  34219220.0
 36506  11818103 -0.019627        1.0       2.0   1029.0  6037.0  34079050.0
 29675  11621491  0.052557        2.0       3.0   2054.0  6037.0  34059428.0
 33963  14165488 -0.003479        6.5       5.0   6624.0  6059.0  33897192.0
 45945  13945883  0.030272        2.0       3.0   1470.0  6059.0  33761023.0
 ...         ...       ...        ...       ...      ...     ...         ...
 5079   14158174 -0.033457        2.0       4.0   1720.0  6059.0  33929271.0
 27223  14455241 -0.018893        3.5       4.0   3453.0  6059.0  33483782.0
 43577  12830371  0.029043        2.0       3.0   2054.0  6037.0  33955835.0
 15757  11202064 -0.031929        1.0       3.0   1042.0  6037.0  34585241.0
 6864   14102162 -0.038232        2.0       4.0   1708.0  6059.0  33785106.0

          longitude  lotsizesquarefeet  regionidcity  ...   taxrate     acres  \
 40229 -118890382.0             7498.0       34278.0  ...  1.136753  0.172130
 36506 -118168148.0             6001.0       12447.0  ...  1.227742  0.137764
 29675 -118422119.0             7937.0       12447.0  ...  1.302037  0.182208
 33963 -117797788.0            47001.0       21412.0  ...  1.253463  1.078994
 45945 -117978917.0             7257.0       24832.0  ...  1.706152  0.166598
 ...            ...                ...           ...  ...       ...       ...
 5079  -117889798.0             7770.0       17150.0  ...  1.480025  0.178375
 27223 -117585568.0             7098.0       13693.0  ...  1.482769  0.162948
 43577 -117979717.0            45019.0       18875.0  ...  1.246846  1.033494
 15757 -118090276.0             6505.0       40227.0  ...  1.874787  0.149334
 6864  -117920305.0             7700.0       24832.0  ...  1.240649  0.176768

        acres_bin  sqft_bin  structure_dollar_per_sqft  \
 40229        0.2       0.5                 106.253339
 36506        0.1       0.2                  64.002915
 29675        0.2       0.5                  50.385589
 33963        0.5       0.8                 151.336202
 45945        0.2       0.3                  40.145578
 ...          ...       ...                        ...
 5079         0.2       0.4                  29.134302
 27223        0.2       0.7                 178.735303
 43577        0.5       0.5                 112.537975
 15757        0.1       0.2                  95.873321
 6864         0.2       0.4                  66.611241

        structure_dollar_sqft_bin  land_dollar_per_sqft  lot_dollar_sqft_bin  \
 40229                        0.4             20.258602                  0.3
 36506                        0.2             43.899183                  0.3
 29675                        0.2             20.564445                  0.3
 33963                        0.5             19.157699                  0.2
 45945                        0.1              7.589775                  0.2
 ...                          ...                   ...                  ...
 5079                         0.1              2.658172                  0.1
 27223                        0.5             66.191462                  0.4
 43577                        0.4              5.285435                  0.2
 15757                        0.3              3.839354                  0.1
 6864                         0.2             54.445195                  0.4

        bath_bed_ratio  cola
 40229        0.750000     0
 36506        0.500000     1
 29675        0.666667     1
 33963        1.300000     0
 45945        0.666667     0
 ...               ...   ...
 5079         0.500000     0
 27223        0.875000     0
 43577        0.666667     0
 15757        0.333333     0
 6864         0.500000     0

 [10136 rows x 29 columns])

In [5]:
train_scaled, validate_scaled, test_scaled=w.scale_data(train, validate, test)

In [6]:
train_scaled.head

<bound method NDFrame.head of        parcelid  logerror  bathrooms  bedrooms   sq_feet    fips  latitude  \
40409  14357041  0.414580   0.416667  0.333333  0.275165  6059.0  0.245398
23172  11185767  0.422406   0.500000  0.500000  0.269389  6037.0  0.863565
49707  11471750  0.419310   0.333333  0.500000  0.195132  6037.0  0.397145
36587  14234304  0.406003   0.333333  0.500000  0.151609  6059.0  0.308994
6405   12992951  0.433831   0.166667  0.333333  0.092616  6037.0  0.481090
...         ...       ...        ...       ...       ...     ...       ...
19982  17160255  0.416100   0.000000  0.333333  0.087459  6111.0  0.588307
1766   11663538  0.421596   0.333333  0.500000  0.249381  6037.0  0.477992
5102   12185674  0.620247   0.166667  0.333333  0.117574  6037.0  0.440408
34399  10731267  0.415821   0.166667  0.333333  0.220606  6037.0  0.571843
26237  14183578  0.413598   0.166667  0.500000  0.133663  6059.0  0.369219

       longitude  lotsizesquarefeet  regionidcity  ...   taxrate     acres  \
40409   0.923479           0.006859       52650.0  ...  1.435365  0.006859
23172   0.673858           0.008336       40227.0  ...  1.756942  0.008336
49707   0.552532           0.006174       55753.0  ...  1.118434  0.006174
36587   0.865966           0.009347       33252.0  ...  1.110092  0.009347
6405    0.782651           0.007353      118895.0  ...  1.282477  0.007353
...          ...                ...           ...  ...       ...       ...
19982   0.150175           0.007818       13150.0  ...  1.171756  0.007818
1766    0.498743           0.011444       12447.0  ...  1.205483  0.011444
5102    0.644061           0.004664      396053.0  ...  1.402260  0.004664
34399   0.449947           0.046379       12447.0  ...  1.462234  0.046379
26237   0.865714           0.010418       21412.0  ...  1.352877  0.010418

       acres_bin  sqft_bin  structure_dollar_per_sqft  \
40409        0.1       0.6                   0.116026
23172        0.2       0.6                   0.025899
49707        0.1       0.5                   0.117293
36587        0.2       0.4                   0.044535
6405         0.1       0.2                   0.061962
...          ...       ...                        ...
19982        0.1       0.1                   0.069041
1766         0.2       0.6                   0.059688
5102         0.0       0.3                   0.050198
34399        0.4       0.5                   0.015928
26237        0.2       0.3                   0.028694

       structure_dollar_sqft_bin  land_dollar_per_sqft  lot_dollar_sqft_bin  \
40409                        0.5              0.063539                  0.5
23172                        0.1              0.005032                  0.2
49707                        0.5              0.084231                  0.5
36587                        0.2              0.024892                  0.3
6405                         0.3              0.025591                  0.3
...                          ...                   ...                  ...
19982                        0.3              0.023648                  0.3
1766                         0.3              0.044853                  0.4
5102                         0.2              0.023836                  0.3
34399                        0.0              0.000729                  0.1
26237                        0.1              0.004579                  0.2

       bath_bed_ratio  cola
40409        0.345238     0
23172        0.285714     0
49707        0.196429     0
36587        0.196429     0
6405         0.166667     0
...               ...   ...
19982        0.047619     0
1766         0.196429     1
5102         0.166667     0
34399        0.166667     1
26237        0.107143     0

[28378 rows x 29 columns]>

In [7]:
train_scaled.head()

,parcelid,logerror,bathrooms,bedrooms,sq_feet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,...,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola
40409,14357041,0.414580,0.416667,0.333333,0.275165,6059.0,0.245398,0.923479,0.006859,52650.0,...,1.435365,0.006859,0.1,0.6,0.116026,0.5,0.063539,0.5,0.345238,0
23172,11185767,0.422406,0.500000,0.500000,0.269389,6037.0,0.863565,0.673858,0.008336,40227.0,...,1.756942,0.008336,0.2,0.6,0.025899,0.1,0.005032,0.2,0.285714,0
49707,11471750,0.419310,0.333333,0.500000,0.195132,6037.0,0.397145,0.552532,0.006174,55753.0,...,1.118434,0.006174,0.1,0.5,0.117293,0.5,0.084231,0.5,0.196429,0
36587,14234304,0.406003,0.333333,0.500000,0.151609,6059.0,0.308994,0.865966,0.009347,33252.0,...,1.110092,0.009347,0.2,0.4,0.044535,0.2,0.024892,0.3,0.196429,0
6405,12992951,0.433831,0.166667,0.333333,0.092616,6037.0,0.481090,0.782651,0.007353,118895.0,...,1.282477,0.007353,0.1,0.2,0.061962,0.3,0.025591,0.3,0.166667,0

In [8]:
X_train_scaled=train_scaled.drop(columns=['logerror'])
y_train=train_scaled.logerror

In [9]:
X_train_scaled.head()

,parcelid,bathrooms,bedrooms,sq_feet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,...,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola
40409,14357041,0.416667,0.333333,0.275165,6059.0,0.245398,0.923479,0.006859,52650.0,1286.0,...,1.435365,0.006859,0.1,0.6,0.116026,0.5,0.063539,0.5,0.345238,0
23172,11185767,0.500000,0.500000,0.269389,6037.0,0.863565,0.673858,0.008336,40227.0,3101.0,...,1.756942,0.008336,0.2,0.6,0.025899,0.1,0.005032,0.2,0.285714,0
49707,11471750,0.333333,0.500000,0.195132,6037.0,0.397145,0.552532,0.006174,55753.0,3101.0,...,1.118434,0.006174,0.1,0.5,0.117293,0.5,0.084231,0.5,0.196429,0
36587,14234304,0.333333,0.500000,0.151609,6059.0,0.308994,0.865966,0.009347,33252.0,1286.0,...,1.110092,0.009347,0.2,0.4,0.044535,0.2,0.024892,0.3,0.196429,0
6405,12992951,0.166667,0.333333,0.092616,6037.0,0.481090,0.782651,0.007353,118895.0,3101.0,...,1.282477,0.007353,0.1,0.2,0.061962,0.3,0.025591,0.3,0.166667,0

In [10]:
X_validate_scaled=validate_scaled.drop(columns=['logerror'])
y_validate=validate_scaled.logerror

In [11]:
X_test_scaled=test_scaled.drop(columns=['logerror'])
y_test=test_scaled.logerror

BASELINE

In [12]:
# Create a baseline prediction by creating a function.
def baseline(y_train, y_validate, y_test):
    # We need y_train and y_validate (and test) to be dataframes to append the new columns with predicted values. 
    y_train = pd.DataFrame(y_train)
    y_validate = pd.DataFrame(y_validate)
    y_test = pd.DataFrame(y_test)

    # 1. Predict home_value_pred_mean
    logerror_pred_mean = y_train['logerror'].mean()
    y_train['logerror_pred_mean'] = logerror_pred_mean
    y_validate['logerror_pred_mean'] = logerror_pred_mean

    # 2. compute home_value_pred_median
    logerror_pred_median = y_train['logerror'].median()
    y_train['logerror_pred_median'] = logerror_pred_median
    y_validate['logerror_pred_median'] = logerror_pred_median

    # 3. RMSE of home_value_pred_mean
    rmse_train = mean_squared_error(y_train.logerror, y_train.logerror_pred_mean)**(1/2)
    rmse_validate = mean_squared_error(y_validate.logerror, y_validate.logerror_pred_mean)**(1/2)

    print("RMSE using Mean\nTrain/In-Sample: ", round(rmse_train, 2), 
      "\nValidate/Out-of-Sample: ", round(rmse_validate, 2))

    # 4. RMSE of home_value_pred_median
    rmse_train = mean_squared_error(y_train.logerror, y_train.logerror_pred_median)**(1/2)
    rmse_validate = mean_squared_error(y_validate.logerror, y_validate.logerror_pred_median)**(1/2)

    print("RMSE using Median\nTrain/In-Sample: ", round(rmse_train, 2), 
      "\nValidate/Out-of-Sample: ", round(rmse_validate, 2))
    
    return y_train, y_validate, y_test

In [13]:
y_train, y_validate, y_test

(40409    0.414580
 23172    0.422406
 49707    0.419310
 36587    0.406003
 6405     0.433831
            ...
 19982    0.416100
 1766     0.421596
 5102     0.620247
 34399    0.415821
 26237    0.413598
 Name: logerror, Length: 28378, dtype: float64,
 31502    0.416827
 30324    0.419311
 5349     0.416318
 14766    0.412996
 37693    0.396787
            ...
 18312    0.384634
 11011    0.414373
 28978    0.425687
 31520    0.422469
 3202     0.413373
 Name: logerror, Length: 12163, dtype: float64,
 40229    0.409560
 36506    0.411431
 29675    0.423875
 33963    0.414215
 45945    0.420033
            ...
 5079     0.409047
 27223    0.411558
 43577    0.419821
 15757    0.409310
 6864     0.408224
 Name: logerror, Length: 10136, dtype: float64)

In [17]:
lm = LinearRegression(normalize=True)

NameError: name 'LinearRegression' is not defined

In [14]:
# Create a function for the OLS regression model object
def ols(X_train_scaled, y_train, X_validate_scaled, y_validate):
    lm = LinearRegression(normalize=True)

    # fit the model to our training data. We must specify the column in y_train, 
    # since we have converted it to a dataframe from a series! 
    lm.fit(X_train_scaled, y_train.logerror)

    # predict train
    y_train['logerror_pred_lm'] = lm.predict(X_train_scaled)

    # evaluate: rmse
    rmse_train = mean_squared_error(y_train.logerror, y_train.logerror_pred_lm)**(1/2)

    # predict validate
    y_validate['logerror_pred_lm'] = lm.predict(X_validate_scaled)

    # evaluate: rmse
    rmse_validate = mean_squared_error(y_validate.logerror, y_validate.logerror_pred_lm)**(1/2)

    print("RMSE for OLS\nTraining/In-Sample: ", rmse_train, 
      "\nValidation/Out-of-Sample: ", rmse_validate)

In [16]:
ols(X_train_scaled, y_train, X_validate_scaled, y_validate)

NameError: name 'LinearRegression' is not defined

In [ ]:

# Create a function for Polynomial Features(selecting the degrees)
# make the polynomial features to get a new set of features
#Change the pf degree to 2 or more)

def poly_features(X_train_scaled,X_validate_scaled,X_test_scaled, n):
    pf = PolynomialFeatures(degree=n)
    # fit and transform X_train_scaled
    X_train_degree= pf.fit_transform(X_train_scaled)

    # transform X_validate_scaled & X_test_scaled
    X_validate_degree = pf.transform(X_validate_scaled)
    X_test_degree = pf.transform(X_test_scaled)
    
    return X_train_degree, X_validate_degree, X_test_degree

In [ ]:
# Create a function for the Polynomial regression model object
def polydeg(X_train_degree, y_train, X_validate_degree, y_validate, X_test_degree, y_test):
    # create the model object
    lm = LinearRegression(normalize=True)

    # fit the model to our training data. We must specify the column in y_train, 
    # since we have converted it to a dataframe from a series! 
    lm.fit(X_train_degree, y_train.logerror)

    # predict train
    y_train['logerror_pred_lm'] = lm.predict(X_train_degree)

    # evaluate: rmse
    rmse_train = mean_squared_error(y_train.logerror, y_train.logerror_pred_lm)**(1/2)

    # predict validate
    y_validate['logerror_pred_lm'] = lm.predict(X_validate_degree)

    # evaluate: rmse
    rmse_validate = mean_squared_error(y_validate.logerror, y_validate.logerror_pred_lm)**(1/2)

    # predict on test
    y_test['logerror_pred_lm'] = lm.predict(X_test_degree)

    # evaluate: rmse
    rmse_test = mean_squared_error(y_test.logerror, y_test.logerror_pred_lm)**(1/2)

    print("RMSE for Poly \nTraining/In-Sample: ", rmse_train, 
      "\nValidation/Out-of-Sample: ", rmse_validate,
      "\nTesting/Out-of-Sample Performance: ", rmse_test)

from sklearn.preprocessing import PolynomialFeatures
# make the polynomial features to get a new set of features
pf = PolynomialFeatures(degree=3)

# fit and transform X_train_scaled
X_train_degree3 = pf.fit_transform(X_train_scaled)

# transform X_validate_scaled & X_test_scaled
X_validate_degree3 = pf.transform(X_validate_scaled)
X_test_degree3 = pf.transform(X_test_scaled)

# create the model object
lm3 = LinearRegression(normalize=True)

# fit the model to our training data. We must specify the column in y_train, 
# since we have converted it to a dataframe from a series! 
lm3.fit(X_train_degree3, y_train.logerror)

# predict train
y_train['logerror_pred_lm3'] = lm3.predict(X_train_degree3)

# evaluate: rmse
rmse_train = mean_squared_error(y_train.logerror, y_train.logerror_pred_lm3)**(1/2)

# predict validate
y_validate['logerror_pred_lm3'] = lm3.predict(X_validate_degree3)

# evaluate: rmse
rmse_validate = mean_squared_error(y_validate.logerror, y_validate.logerror_pred_lm3)**(1/2)

# predict on test
y_test['logerror_pred_lm3'] = lm3.predict(X_test_degree3)

# evaluate: rmse
rmse_test = mean_squared_error(y_test.logerror, y_test.logerror_pred_lm3)**(1/2)

print("RMSE for Poly 3\nTraining/In-Sample: ", rmse_train, 
      "\nValidation/Out-of-Sample: ", rmse_validate,
      "\nTesting/Out-of-Sample Performance: ", rmse_test)

In [ ]:
#Create a function for the LassoLars regression model object

def lasso_lars(X_train_scaled, X_validate_scaled, X_test_scaled, y_train, y_validate, y_test)
lars = LassoLars(alpha=1.0)

# fit the model to our training data. We must specify the column in y_train, 
# since we have converted it to a dataframe from a series! 
lars.fit(X_train_scaled, y_train.logerror)

# predict train
y_train['logerror_pred_lars'] = lars.predict(X_train_scaled)

# evaluate: rmse
rmse_train = mean_squared_error(y_train.logerror, y_train.logerror_pred_lars)**(1/2)

# predict validate
y_validate['logerror_pred_lars'] = lars.predict(X_validate_scaled)

# evaluate: rmse
rmse_validate = mean_squared_error(y_validate.logerror, y_validate.logerror_pred_lars)**(1/2)

# predict test
y_test['logerror_pred_lars'] = lars.predict(X_test_scaled)

# evaluate: rmse
rmse_test = mean_squared_error(y_test.logerror, y_test.logerror_pred_lars)**(1/2)

print("RMSE for Lasso + Lars\nTraining/In-Sample: ", rmse_train, 
      "\nValidation/Out-of-Sample: ", rmse_validate,
      "\nTesting/Out-of-Sample Performance: ", rmse_test)

In [ ]:
#Create a function for the Tweedie regression model object
def Tweedie(X_train_scaled, X_validate_scaled, X_test_scaled, y_train, y_validate, y_test):
    glm = TweedieRegressor(power=0, alpha=1)

    # fit the model to our training data. We must specify the column in y_train, 
    # since we have converted it to a dataframe from a series! 
    glm.fit(X_train_scaled, y_train.logerror)

    # predict train
    y_train['logerror_pred_glm'] = glm.predict(X_train_scaled)

    # evaluate: rmse
    rmse_train = mean_squared_error(y_train.logerror, y_train.logerror_pred_glm)**(1/2)

    # predict validate
    y_validate['logerror_pred_glm'] = glm.predict(X_validate_scaled)

    # evaluate: rmse
    rmse_validate = mean_squared_error(y_validate.logerror, y_validate.logerror_pred_glm)**(1/2)

    # predict test
    y_test['logerror_pred_glm'] = glm.predict(X_test_scaled)
    
    # evaluate: rmse
    rmse_test = mean_squared_error(y_test.logerror, y_test.logerror_pred_glm)**(1/2)
    
    print("RMSE for Tweedie\nTraining/In-Sample: ", rmse_train,
          "\nValidation/Out-of-Sample: ", rmse_validate,
          "\nTesting/Out-of-Sample Performance: ", rmse_test)

In [ ]:
# plot to visualize actual vs predicted. 
plt.figure(figsize=(16,8))
plt.hist(y_validate.logerror, color='red', alpha=.5, label="Absolute Value Log Error")
plt.hist(y_validate.logerror_pred_lm, color='blue', alpha=.5, label="Validate")
plt.hist(y_test.logerror_pred_lm, color='green', alpha=.5, label='Test')
plt.xlabel("Log Error")
plt.ylabel("Homes")
plt.title("Comparing the Distribution of Absolute Value Log Error to Predicted w/Validate and w/Test")
plt.legend()
plt.show()