In [1]:
import pandas as pd
import os
import env
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split

import wrangle as w
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = w.wrangle_zillow()

In [3]:
df.head()

,parcelid,logerror,bathrooms,bedrooms,sq_feet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,...,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola
0,14297519,0.025595,3.5,4.0,3100.0,6059.0,33634931.0,-117869207.0,4506.0,53571.0,...,1.076313,0.103444,0.1,0.7,156.681613,0.5,119.300710,0.5,0.875000,0
1,17052889,0.055619,1.0,2.0,1465.0,6111.0,34449266.0,-119281531.0,12647.0,13091.0,...,1.222517,0.290335,0.3,0.3,60.068259,0.2,29.730371,0.3,0.500000,0
2,14186244,0.005383,2.0,3.0,1243.0,6059.0,33886168.0,-117823170.0,8432.0,21412.0,...,1.148823,0.193572,0.2,0.2,68.615447,0.2,56.865394,0.4,0.666667,0
3,12177905,-0.103410,3.0,4.0,2376.0,6037.0,34245180.0,-118240722.0,13038.0,396551.0,...,1.224661,0.299311,0.3,0.5,45.840909,0.1,2.778417,0.1,0.750000,0
4,12095076,-0.001011,3.0,4.0,2962.0,6037.0,34145202.0,-118179824.0,63000.0,47019.0,...,1.230599,1.446281,0.5,0.6,93.411209,0.3,7.882841,0.2,0.750000,0

In [4]:
train, validate, test = w.split_data(df)

In [5]:
train

,parcelid,logerror,bathrooms,bedrooms,sq_feet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,...,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola
40409,14357041,-0.001358,3.5,3.0,2820.0,6059.0,33701815.0,-117717952.0,5492.0,52650.0,...,1.435365,0.126079,0.1,0.6,167.602837,0.5,119.641843,0.5,1.166667,0
23172,11185767,0.044035,4.0,4.0,2764.0,6037.0,34610159.0,-118192962.0,6624.0,40227.0,...,1.756942,0.152066,0.2,0.6,37.442475,0.1,9.500302,0.2,1.000000,0
49707,11471750,0.026075,3.0,4.0,2044.0,6037.0,33924794.0,-118423837.0,4967.0,55753.0,...,1.118434,0.114027,0.1,0.5,169.431996,0.5,158.594725,0.5,0.750000,0
36587,14234304,-0.051115,3.0,4.0,1622.0,6059.0,33795264.0,-117827395.0,7399.0,33252.0,...,1.110092,0.169858,0.2,0.4,64.356350,0.2,46.887282,0.3,0.750000,0
6405,12992951,0.110311,2.0,3.0,1050.0,6037.0,34048144.0,-117985938.0,5871.0,118895.0,...,1.282477,0.134780,0.1,0.2,89.523810,0.3,48.203032,0.3,0.666667,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19982,17160255,0.007457,1.0,3.0,1000.0,6111.0,34205691.0,-119189493.0,6227.0,13150.0,...,1.171756,0.142952,0.1,0.1,99.748000,0.3,44.546652,0.3,0.333333,0
1766,11663538,0.039340,3.0,4.0,2570.0,6037.0,34043592.0,-118526193.0,9006.0,12447.0,...,1.205483,0.206749,0.2,0.6,86.240467,0.3,84.465356,0.4,0.750000,1
5102,12185674,1.191672,2.0,3.0,1292.0,6037.0,33988365.0,-118249664.0,3810.0,396053.0,...,1.402260,0.087466,0.0,0.3,72.534830,0.2,44.900000,0.3,0.666667,0
34399,10731267,0.005839,2.0,3.0,2291.0,6037.0,34181498.0,-118619048.0,35778.0,12447.0,...,1.462234,0.821350,0.4,0.5,23.042340,0.0,1.400106,0.1,0.666667,1
26237,14183578,-0.007056,2.0,4.0,1448.0,6059.0,33883759.0,-117827874.0,8220.0,21412.0,...,1.352877,0.188705,0.2,0.3,41.479282,0.1,8.648905,0.2,0.500000,0

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28378 entries, 40409 to 26237
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   parcelid                    28378 non-null  int64
 1   logerror                    28378 non-null  float64
 2   bathrooms                   28378 non-null  float64
 3   bedrooms                    28378 non-null  float64
 4   sq_feet                     28378 non-null  float64
 5   fips                        28378 non-null  float64
 6   latitude                    28378 non-null  float64
 7   longitude                   28378 non-null  float64
 8   lotsizesquarefeet           28378 non-null  float64
 9   regionidcity                28378 non-null  float64
 10  regionidcounty              28378 non-null  float64
 11  regionidzip                 28378 non-null  float64
 12  year_built                  28378 non-null  float64
 13  structuretaxvaluedollarcnt  28378 non-null  float64
 14  tax_value                   28378 non-null  float64
 15  landtaxvaluedollarcnt       28378 non-null  float64
 16  tax_amount                  28378 non-null  float64
 17  age                         28378 non-null  float64
 18  age_bin                     28378 non-null  float64
 19  taxrate                     28378 non-null  float64
 20  acres                       28378 non-null  float64
 21  acres_bin                   28378 non-null  float64
 22  sqft_bin                    28378 non-null  float64
 23  structure_dollar_per_sqft   28378 non-null  float64
 24  structure_dollar_sqft_bin   28378 non-null  float64
 25  land_dollar_per_sqft        28378 non-null  float64
 26  lot_dollar_sqft_bin         28378 non-null  float64
 27  bath_bed_ratio              28378 non-null  float64
 28  cola                        28378 non-null  int64
dtypes: float64(27), int64(2)
memory usage: 6.5 MB

In [ ]:
def scale_data(train, 
               validate, 
               test, 
               columns_to_scale=['logerror','bedrooms', 'bathrooms', 'tax_amount', 'sq_feet', 'lotsizesquarefeet', 'age', 'structure_dollar_per_sqft', 'land_dollar_per_sqft', 'acres', 'bath_bed_ratio', 'latitude', 'longitude'],
               return_scaler=False):
    '''
    Scales the 3 data splits. 
    Takes in train, validate, and test data splits and returns their scaled counterparts.
    If return_scalar is True, the scaler object will be returned as well
    '''
    # make copies of our original data so we dont gronk up anything
    train_scaled = train.copy()
    validate_scaled = validate.copy()
    test_scaled = test.copy()
    #     make the thing
    scaler = MinMaxScaler()
    #     fit the thing
    scaler.fit(train[columns_to_scale])
    # applying the scaler:
    train_scaled[columns_to_scale] = pd.DataFrame(scaler.transform(train[columns_to_scale]),
                                                  columns=train[columns_to_scale].columns.values).set_index([train.index.values])
                                                  
    validate_scaled[columns_to_scale] = pd.DataFrame(scaler.transform(validate[columns_to_scale]),
                                                  columns=validate[columns_to_scale].columns.values).set_index([validate.index.values])
    
    test_scaled[columns_to_scale] = pd.DataFrame(scaler.transform(test[columns_to_scale]),
                                                 columns=test[columns_to_scale].columns.values).set_index([test.index.values])
    
    if return_scaler:
        return scaler, train_scaled, validate_scaled, test_scaled
    else:
        return train_scaled, validate_scaled, test_scaled